@import url("/web/css/pico.min.css") layer;

body {
    padding: 1em 0.5em 50vh 0.5em;
}

.inline {
    display: inline;
}

.rtl {
    direction: rtl;
}

.grid-row-1 {
    grid-row: 1;
}

.m-0 {
    margin: 0;
}

.w-auto {
    width: auto;
}

.h-fit-content {
    height: fit-content;
}

.self-center {
    align-self: center;
}

.flex {
    display: flex;
    justify-items: start;
    flex-wrap: wrap;
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}