:root {
    --main-bg-color: #f0f0f0;
    --main-text-color: #333;
    --main-link-color: #00f;
    --main-link-hover-color: #00a;
    --main-link-visited-color: #551a8b;
    --main-link-visited-hover-color: #551a8b;
    --main-border-color: #ccc;
    --main-border-radius: 5px;
    --main-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    --main-transition: 0.3s;
    /* https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
    --font-size: clamp(1rem, 0.1818rem + 3.6364vw, 1.75rem);
}

* {
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1em 20em 1em;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: var(--font-size);
    transition: background-color var(--main-transition), color var(--main-transition);
}

footer {
    font-size: 0.5em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #333;
        --main-text-color: #f0f0f0;
        --main-link-color: #0ff;
        --main-link-hover-color: #0aa;
        --main-link-visited-color: #a81a55;
        --main-link-visited-hover-color: #a81a55;
        --main-border-color: #666;
        --main-box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    }
}

body.light {
    --main-bg-color: #f0f0f0;
    --main-text-color: #333;
    --main-link-color: #00f;
    --main-link-hover-color: #00a;
    --main-link-visited-color: #551a8b;
    --main-link-visited-hover-color: #551a8b;
    --main-border-color: #ccc;
    --main-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

body.dark {
    --main-bg-color: #333;
    --main-text-color: #f0f0f0;
    --main-link-color: #0ff;
    --main-link-hover-color: #0aa;
    --main-link-visited-color: #a81a55;
    --main-link-visited-hover-color: #a81a55;
    --main-border-color: #666;
    --main-box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

a {
    color: var(--main-link-color);
    text-decoration: none;
    transition: color var(--main-transition);
    &:hover {
        color: var(--main-link-hover-color);
    }
    &:visited {
        color: var(--main-link-color);
    }
    &:visited:hover {
        color: var(--main-link-visited-hover-color);
    }
    &:focus {
        outline: 2px solid var(--main-link-color);
    }
}

button, input[type="submit"], input[type="reset"], input[type="button"], .button {
    background-color: var(--main-bg-color);
    cursor: pointer;
    color: var(--main-text-color);
    border: 1px solid var(--main-border-color);
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-box-shadow);
    padding: 0.5em 1em;
    font-size: var(--font-size);
    transition: background-color var(--main-transition), color var(--main-transition);
    &:hover {
        background-color: var(--main-border-color);
    }
    &:focus {
        outline: 2px solid var(--main-link-color);
    }
}

input[type="reset"] {
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
}

header {
    nav {
        border-bottom: 1px solid var(--main-border-color);
    }
}

nav {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        li {
            a {
                color: var(--main-link-color);
                text-decoration: none;
                transition: color var(--main-transition);
                &:hover {
                    color: var(--main-link-hover-color);
                }
                &:visited {
                    color: var(--main-link-visited-color);
                }
                &:visited:hover {
                    color: var(--main-link-visited-hover-color);
                }
                &:focus {
                    outline: 2px solid var(--main-link-color);
                }
            }
        }
    }
}

input, textarea {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border: 1px solid var(--main-border-color);
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-box-shadow);
    display: block;
    padding: 0.5em;
    margin-top: 0.2em;
    font-size: var(--font-size);
    transition: background-color var(--main-transition), color var(--main-transition);
    &:focus {
        outline: 2px solid var(--main-link-color);
    }
}

select {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border: 1px solid var(--main-border-color);
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-box-shadow);
    display: block;
    padding: 0.5em;
    margin-top: 0.2em;
    font-size: var(--font-size);
    transition: background-color var(--main-transition), color var(--main-transition);
    &:focus {
        outline: 2px solid var(--main-link-color);
    }
}

label {
    display: block;
    margin-bottom: 0.5em;
}

button {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

header {
    margin-top: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1em;
    th, td {
        border: 1px solid var(--main-border-color);
        padding: 0.5em;
    }
    th {
        background-color: var(--main-border-color);
    }
}

.hidden {
    display: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.justify-start {
    justify-content: flex-start;
}

.wrap {
    flex-wrap: wrap;
}

.inline {
    display: inline-block;
}

.fix {
    position: fixed;
    z-index: 1000;
}

.bottom-10 {
    bottom: 10px;
}

.toast {
    background-color: var(--main-bg-color);
    backdrop-filter: blur(5px);
    color: var(--main-text-color);
    border: 1px solid var(--main-border-color);
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-box-shadow);
    padding: 0.5em;
    font-size: var(--font-size);
    transition: background-color var(--main-transition), color var(--main-transition);
    max-width: 80vw;
    position: fixed;
    bottom: 1rem;
}

